<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="javab.member">
  <select id="selectAll" resultType="model.MemberDTO">
    select * from members
  </select>
  
  <select id="selectByMno" parameterType="int" resultType="model.MemberDTO">
    select * from members where mno=#{aa}
  </select>
  
  
  <insert id="insertEmp" parameterType="model.MemberDTO">
    insert into members(email,pwd,mname,cre_date,mod_date)
    values(#{email},#{pwd},#{mname},now(),now())
  </insert>
  
  
  <update id="memUpdate" parameterType="model.MemberDTO">
  	update members
  	set email=#{email},pwd=#{pwd},mname=#{mname},mod_date=now()
  	where mno=#{mno}
  </update>
  
  <delete id="memDelete" parameterType="int">
  	delete from members where mno=#{mno}
  </delete>
  
</mapper>